<IfModule mod_rewrite.c>
    <IfModule mod_negotiation.c>
        Options -MultiViews -Indexes
    </IfModule>

    RewriteEngine On

    # Handle Authorization Header
    RewriteCond %{HTTP:Authorization} .
    RewriteRule .* - [E=HTTP_AUTHORIZATION:%{HTTP:Authorization}]

    # Redirect Trailing Slashes If Not A Folder...
    RewriteCond %{REQUEST_FILENAME} !-d
    RewriteCond %{REQUEST_URI} (.+)/$
    RewriteRule ^ %1 [L,R=301]

    # Send Requests To Front Controller...
    RewriteCond %{REQUEST_FILENAME} !-d
    RewriteCond %{REQUEST_FILENAME} !-f
    RewriteRule ^ index.php [L]

    AddType application/javascript .js
    AddType application/json .json
    AddType application/vnd.webpacker.module+json .module.json
    AddType application/wasm .wasm
    AddType text/x-sass .sass
    AddType text/x-scss .scss
    AddType text/css .css
    AddType text/x-component .htc
    AddType text/cache-manifest .appcache
    AddType text/html .vue
    AddHandler application/x-httpd-php .vue
</IfModule>
